<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Parallax Website Demo</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
</head>
<body>
  <div class="pimg1">
    <div class="ptext">
      <span class="border">
         The Center of The World
      </span>
    </div>
  </div>

  <section class="section section-light">
    <h2>A Word of Wisdom:</h2>
    <p>
     <i>'Have a heart that never hardens, and a temper that never
      tires, and a touch that never hurts.'</i> - Charles Dickens
    </p>
  </section>

  <div class="pimg2">
    <div class="ptext">
      <span class="border trans">
       Big Ben
      </span>
    </div>
  </div>

  <section class="section section-dark">
    <h2>A Word of Wisdom:</h2>
    <p>
     <i>The truth—that love is the ultimate and the highest goal to which man can aspire. 
     Then I grasped the meaning of the greatest secret that human poetry and human thought and
      belief have to impart: The salvation of man is through love and in love.</i> - Viktor E. Frankl
    </p>
  </section>

  <div class="pimg3">
    <div class="ptext">
      <span class="border trans">
       Westminster
      </span>
    </div>
  </div>

  <section class="section section-dark">
    <h2>A Word of Wisdom:</h2>
    <p>
     <i>'Success is not final, failure is not fatal: it is the courage to continue that counts.'</i> - Winston Churchill
    </p>
  </section>

  <div class="pimg1">
    <div class="ptext">
      <span class="border">
        London
      </span>
    </div>
  </div>
</body>
</html>